:root {
  --primary-bg-color: #D5E1EF;
  --slate-900:#1F314F;
  --slate-500:#68778D;

}

*{
    box-sizing: border-box;
    margin: 0 auto;
    font-family: "Outfit", sans-serif;

}

.container{
    max-width: 90rem;
    margin: 0 auto;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bg-color{
    background-color: var(--primary-bg-color)
}
.card{
    max-width: 20rem;
    max-height: 31.1875rem;
    border-radius: 1.25rem;
    background-color: white;
}

.center{
    margin: 14.40625rem 35rem;
}
.flex{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.image{
    max-width: 18rem;
    max-height: 18rem;
    object-fit: cover;
    border-radius: 0.625rem;
    /* margin: 1rem 1rem 1.5rem; */
    margin-top: 1rem;

}
.headline{
    font-size: 1.375rem;
    font-weight: bold;
    text-align: center;
     margin: 1.5rem 2rem 1rem; 
     color: var(--slate-900);

}
.paragraph{
    color: var(--slate-500);
    font-size: 0.9375rem;
    font-weight:400;
    text-align: center;
    margin: 1rem 2rem 2.5rem; 
}

@media (min-width: 20rem) and (max-width: 48rem){
    .container{
    max-width: 48rem;
    margin: 0 auto;
}
    .center{
    margin: 1.75rem;
}
}